#  Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate

*.tfstate.*
# .tfvars files
#*.tfvars  #  I want terraform.tfvars to be pushed, it does not have any confidential stuff

# no creds
*.pem
*Key*
*key*

# terraformrc file
terraform.rc


